* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Jost;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Hind Madurai", sans-serif;
  background-color: #0e0e11;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #FAF5FD;
}
.forentec-icon{
  width: 90px;
  height: auto;
}
.header-right{
  display: flex;
  align-items: center;
}
.header-right img{
  width: 14px;
  height: auto;
  margin-right: 6px;
}

.project-title{
  font-size: 14px;
  color: #7802BA;
  font-weight: bold;
}

.theme-toggle {
  display: flex;
  gap: 8px;
  font-family: sans-serif;
  background-color: #CDCDCD4D;
  width: 153px;
  height: 30px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  color: #7802BA;
}

.toggle-btn {
  padding: 0px 0px;
  width: 64px;
  height: 21px;
  border: none;
  background: none;
  border-radius: 8px;
  color: #7802BA; 
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 500;
  font-size: 11px;
}

.toggle-btn.active {
  background-color: #ffffff;
}

.toggle-btn:hover {
  background-color: #e0e0e0;
}

.toggle-tab {
  background-color: transparent;
  border: none;
  color: #5A4A62;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.toggle-tab::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.toggle-tab.active {
  color: #7802BA;
}

.toggle-tab.active::after {
  background-color: #7802BA;
  color: #7802BA;
}


.logo {
  width: 50px;
  height: auto;
}

.project-title {
  font-size: 1rem;
  color: #f0a6ff;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background-color: #FAF5FD;
}

.playback-section {
  background-color: #FAF5FD;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #5A4A62;
}

.songHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.song-info {
  text-align: left;
}

.visual-mode {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}

.analyzer-container {
  width: 100%;
  height: 200px;
  background-color: #101018;
  border-radius: 10px;

}

.analyzer-container canvas {
  width: 100%;
  height: 100%;
  display: block;

}
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.progress-wrapper {
  flex: 1;
  overflow: hidden; 
}

#progress-bar {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(to right, #E234F2 var(--progress), #e7dfdf var(--progress));
  -webkit-appearance: none;
  appearance: none;
  touch-action: none; 
}

#progress-bar::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(to right, #E234F2 var(--progress), #e7dfdf var(--progress));
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #E234F2;
  border-radius: 50%;
  margin-top: -4px; 
  cursor: pointer;
}

/* Firefox */
#progress-bar::-moz-range-track {
  height: 6px;
  border-radius: 3px;
  background: #e7dfdf;
}
#progress-bar::-moz-range-progress {
  height: 6px;
  border-radius: 3px;
  background: #E234F2;
}
#progress-bar::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #E234F2;
  border-radius: 50%;
  cursor: pointer;
}


.controls {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.controls button {
  border: none;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  border: 2px solid transparent; 
  transition: border-color 0.3s ease; 
}

.controls button:active{
    border-color: #E234F2;
}

#upload-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    background-color: #fcfcfc;
    border: 2px solid #7802BA;
    color: #000000;
    padding: 6px 12px;
    border-radius: 23px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 1rem;
    transition: border-color 0.3s 
ease;
    transition: background-color 0.3s;
}
#upload-btn:hover{
    border-color: #E234F2;
}
#upload-btn:active{
    background-color: #E234F2;
}

body.dark-mode #upload-btn{
    background-color: #1A1B2F;
    border: 2px solid transparent;
    color: #FFFFFF;
}
body.dark-mode #upload-btn:hover{
    border-color: #E234F2;
}
body.dark-mode #upload-btn:active{
    background-color: #E234F2;
}

.uploadMusic{
  width: 20px;
  height: auto;
}

.bottom-section {
  background-color: none;
  padding: 1rem;
  border-radius: 10px;
  color: #5A4A62;
}

.bottom-section-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
} 


.bottom-section-content {
  background-color: none;
  border-radius: 8px;
  padding: 0.5rem;
  width: 100%;
  height: 50vh; 
  overflow-y: auto; 
  overflow-x: hidden;
}

.bottom-section-content::-webkit-scrollbar {
  width: 6px;
}

.bottom-section-content::-webkit-scrollbar-thumb {
  background-color: #E234F2; 
  border-radius: 3px;
}

.bottom-section-content::-webkit-scrollbar-thumb:hover {
  background-color: #7802BA;
}



.background-footer {
    display: none;
}


.background-footer-night {
    display: none;
}


.main-footer {
  text-align: center;
  padding: 0.8rem;
  background-color: #1b1b24;
  color: #ccc;
  font-size: 0.8rem;
  z-index: 2;
}


.album-grid {
  display: grid;
  gap: 0.3rem;
  margin-top: 1rem;
  
}

.album-info{
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-size: 13px;
}
.album-info p{
  padding-left: 0.5rem;
} 

.album-card {
  display: flex;
  background-color: #ffffff;
  text-align: center;
  padding: 0.7rem 0rem 0.7rem 0.5rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 7px 0px 0px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}

.album-card:hover {
  color:  #E234F2;;
  transform: translateY(-3px);
}

.album-card img {
  width: 59px;
}

#view-mode{
    border-radius: 12px;
    background-color: #CDCDCD4D;
    color: #7802BA;
    width: 117px;
    height: 28px;
    font-size: 13px;
}
.visual-toggle{
    display: flex;
    background-color: #CDCDCD4D;
    height: 23px;
    justify-content: center;
    border-radius: 20px;
    width: 184px;
    align-items: center;
    gap: 7px;
}
.visual-btn{
  border-radius: 10px;
  border: none;
  width: 84px;
  background-color: none;
}

.visual-btn img {
  width: 15px;
  margin-right: 3px;
}

.visual-btn.active {
    background-color: #E234F2;
    color: #FFFFFF;
    height: 23px;
    width: 84px;
}


.track-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.track-list li {
  background-color: transparent;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.track-list li:hover {
  border-color: #E234F2;
}
#spectrogram-canvas,
#audio-visualizer {
  flex: 1;
  height: 293px;
  width: 346px;
  background: black;
  border-radius: 10px 0 0 10px;
  display: block;
}

.analyzer-container {
  position: relative; 
}    

#scale {
 width: 44px;
  height: 293px;
  background: transparent;
  border-radius: 0 10px 10px 0;
}

.visualizer-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  gap: 0;
}

/* === MODO OSCURO === */
body.dark-mode {
  background-color: #0e0e11;
  color: #fff;
}

body.dark-mode .main-header,
body.dark-mode .main-container,
body.dark-mode .playback-section {
  background-color: #050E21; 
}

body.dark-mode .bottom-section-content {
  background: none; 
}

body.dark-mode .bottom-section {
  background:none;
}

body.dark-mode .project-title {
  color: #ffffff; 
}

body.dark-mode .toggle-btn {
  color: #ffffff; 
}

body.dark-mode .toggle-btn.active {
  background-color: #9B2DD9; 
  border: none;
}

body.dark-mode .controls button {
  color: #fff;
}

body.dark-moed .visual-toggle{
  background-color: #4F4481;
}

body.dark-mode .visual-btn {
  background-color: transparent;
  color: #FFFFFF;
}

body.dark-mode .visual-btn.active {
  background-color: #E234F2;
  color: #FFFFFF;
}

body.dark-mode .album-card {
  background-color: #1A1B2F;
  color: #fff;
}
body.dark-mode .album-card:hover {
  color:  #E234F2;;
  transform: translateY(-3px);
}

body.dark-mode .toggle-tab {
  color: #fff;
}

body.dark-mode .toggle-tab.active::after {
  color: #E234F2;
}

body.dark-mode .song-info p {
  color: #FAF5FD;
}
body.dark-mode .song-info h2 {
  color: #FAF5FD;
}

body.dark-mode .bottom-section {
  color: #fffefe;
}

body.dark-mode  .background-footer {
    display: none;
}

body.dark-mode .playback-section {
    color: #fffefe;
}

body.dark-mode.bottom-section-content::-webkit-scrollbar-thumb {
  background-color: #E234F2 !important; 
  border-radius: 3px;
}

body.dark-mode .bottom-section-content::-webkit-scrollbar-thumb:hover {
  background-color: #E234F2;
}

body.dark-mode .toggle-tab.active::after{
  background-color: #E234F2;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(20px);
  z-index: 9999;
}

/* MODO CLARO */
body:not(.dark-mode) .toast {
  background-color: #ffffffee;
  color: #E234F2;
}

/* MODO OSCURO */
body.dark-mode .toast {
  background-color: #050E21;
  color: #ffffff;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}


/* === MODO ESCRITORIO === */
@media (min-width: 1099px) {
  .main-container {
    flex-direction: row;
  }

  .playback-section {
    flex: 2;
  }

  .bottom-section {
    flex: 1;
  }

  #spectrogram-canvas,
  #audio-visualizer {
    height: 416px !important;
    width: 626px !important;
  }
  .controls button:hover{
    border-color: #E234F2;
}
  .album-card{
    max-width: 400px !important;
  }
  #scale{
    width: 47px !important;
    height: 413px !important;
  }
  .background-footer {
    position: absolute;
    bottom: 39px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    pointer-events: none;
    display: block;
}

body.dark-mode  .background-footer-night {
    position: absolute;
    bottom: 39px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    pointer-events: none;
    display: block;
}

.album-info{
  font-size: 14px;
}

}

@media (min-width: 768px ) and (max-width: 978px) {

  .album-info{
    margin-left: 2rem;
    font-size: 16px;
  }
}